.app {
    padding: 0;
    margin: 0;
}
#dropDownMenu {
    width: 100px;
    height: 55px;
}

#mainViewButtons {
    width: 150px;
    height: 55px;
}
.button {
    width: 100px;
    height: 25px;
}

.table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
  }